<h4>Formularios <small>data</small></h4>
<hr>
<form [formGroup]="forma" (ngSubmit)="guardarCambios()">

  <div formGroupName="nombrecompleto">

    <div class="form-group row">
      <label class="col-2 col-form-label">Nombre</label>
      <div class="col-8">

        <input class="form-control"
               type="text"
               placeholder="Nombre"
               formControlName="nombre"
               [ngClass]="{'is-invalid': !forma.get('nombrecompleto.nombre').valid}">
         <div class="invalid-feedback">
           <div *ngIf="forma.get('nombrecompleto.nombre').errors?.required">
             El nombre es necesario.
           </div>
           <div *ngIf="forma.get('nombrecompleto.nombre').errors?.minlength">
             Por lo menos 3 caracteres.
           </div>
         </div>
      </div>
    </div>

    <div class="form-group row">
      <label class="col-2 col-form-label">Apellido</label>
      <div class="col-8">

        <input class="form-control"
               type="text"
               placeholder="Apellido"
               formControlName="apellido"
               [ngClass]="{'is-invalid': !forma.get('nombrecompleto.apellido').valid}">
         <div class="invalid-feedback">
           <div *ngIf="forma.get('nombrecompleto.apellido').errors?.required">
             El apellido es necesario.
           </div>
         </div>
      </div>
    </div>

  </div>

  <div class="form-group row">
    <label class="col-2 col-form-label">Correo</label>
    <div class="col-md-8">

      <input class="form-control"
             type="email"
             placeholder="Correo electrónico"
             formControlName="correo"
             [ngClass]="{'is-invalid': !forma.get('correo').valid}">
       <div class="invalid-feedback">
         <div *ngIf="forma.controls['correo'].errors?.required">
           El correo es necesario.
         </div>
         <div *ngIf="forma.controls['correo'].errors?.pattern">
           No tiene patrón de correo.
         </div>
       </div>
    </div>
  </div>

  <div class="form-group row">
    <label class="col-2 col-form-label">Pasatiempos</label>
    <div class="col-md-8" formArrayName="pasatiempos">
      <input type="text"
        class="form-control"
        [formControlName]="i"
        *ngFor="let pasatiempo of forma.controls['pasatiempos'].controls; index as i"
        >
    </div>
    <button
      type="button"
      class="btn btn-primary"
      (click)=agregarPasatiempo()>
      Nuevo
    </button>
  </div>

  <div class="form-group row">
    <label class="col-2 col-form-label">Username</label>
    <div class="col-md-8">

      <input class="form-control"
             type="text"
             placeholder="Username"
             formControlName="username"
             >
    </div>
  </div>

  <div class="form-group row">
    <label class="col-2 col-form-label">Password</label>
    <div class="col-md-8">

      <input class="form-control"
             type="password"
             placeholder="Password"
             formControlName="password1"
             [ngClass]="{'is-invalid': !forma.get('password1').valid}">
       <div class="invalid-feedback">
         <div *ngIf="forma.controls['password1'].errors?.required">
           El password es necesario.
         </div>
       </div>
    </div>
  </div>

  <div class="form-group row">
    <label class="col-2 col-form-label">Repetir</label>
    <div class="col-md-8">

      <input class="form-control"
             type="password"
             placeholder="Password"
             formControlName="password2"
             [ngClass]="{'is-invalid': !forma.get('password2').valid}">
       <div class="invalid-feedback">
         <div *ngIf="forma.controls['password2'].errors?.required">
           El password es necesario.
         </div>
         <div *ngIf="forma.controls['password2'].errors?.noIguales">
           No son iguales.
         </div>
       </div>
    </div>
  </div>

  <div class="form-group row">
    <label class="col-2 col-form-label">&nbsp;</label>
    <div class="input-group col-md-8">
      <button type="submit" class="btn btn-outline-primary">
        Guardar
      </button>
    </div>
  </div>

  {{forma.valid}}
  <br>
  {{forma.status}}

</form>
