<app-navbar></app-navbar>
<div class="container main-container">
  <div class="row">
    <div class="col-md-4">
      <div *ngIf="!marcadorSel" class="animated fadeIn fast">
        <div class="alert alert-info" role="alert">
          <strong>Haga click</strong>
          en el mapa para crear un marcador o seleccione uno
        </div>
      </div>
      <div *ngIf="marcadorSel" class="animated fadeIn fast">
        <h5>Marcador</h5>
        <hr>
        <div class="form-group">
          <label>Título</label>
          <input type="text" name="titulo" class="form-control" [(ngModel)]="marcadorSel.titulo">
        </div>
        <div class="form-group">
          <label>Descripción</label>
          <textarea
            type="text"
            name="descripcion"
            rows="5"
            class="form-control"
            [(ngModel)]="marcadorSel.descripcion"
          ></textarea>
        </div>
        <div class="form-group">
          <label>Arrastable</label>
          <select name="draggable" class="form-control" [(ngModel)]="draggable" (change)="cambiarDraggable()">
            <option value="1">Sí</option>
            <option value="0">No</option>
          </select>
        </div>
        <button type="button" class="btn btn-outline-primary btn-block" (click)="_ms.guardarMarcadores()">
          Guardar cambios
        </button>
      </div>
    </div>
    <div class="col-md-8">
      <agm-map
        [latitude]="lat"
        [longitude]="lng"
        [zoom]="zoom"
        (mapClick)="clickMapa($event)"
      >
        <agm-marker
          *ngFor="let marcador of _ms.marcadores; let i = index"
          [latitude]="marcador.lat"
          [longitude]="marcador.lng"
          [title]="marcador.titulo"
          [markerDraggable]="marcador.draggable"
          (markerClick)="clickMarcador(marcador, i)"
          (dragEnd)="dragEndMarcador(marcador, $event)"
        >
          <agm-info-window>
            <strong>{{marcador.titulo}}</strong>
            <p *ngIf="marcador.descripcion">{{marcador.descripcion}}</p>
            <p>
              <a (click)="_ms.borrarMarcador(i); marcadorSel = null;" class="text-danger puntero">Borrar marcador</a>
            </p>
          </agm-info-window>
        </agm-marker>
      </agm-map>
    </div>
  </div>
</div>
